[general]
engine_method: SH
hide_gw_toolbars: True

[dialog_leaks]
show_check_material: True
show_check_diameter: True
unknown_material: N/I

[dialog_priority_global]
show_selection: False
show_maptool:False
show_diameter:False
show_material:False
show_exploitation:False
show_presszone:False
show_ivi_button:None
show_config:True
show_config_diameter:True
show_config_arc:None
show_config_material:True
show_config_engine:True
show_budget:False
show_target_year:False

[dialog_priority_selection]
show_selection:True
show_maptool:True
show_diameter:False
show_material:True
show_exploitation:True
show_presszone:True
show_ivi_button:None
show_config:True
show_config_diameter:True
show_config_arc:None
show_config_material:True
show_config_engine:True
show_budget:False
show_target_year:False
