[general]
engine_method: SH

[dialog_leaks]
show_check_material: True
show_check_diameter: False

[dialog_priority_global]
show_maptool:True
show_diameter:True
show_material:True
show_exploitation:True
show_presszone:True
show_ivi_button:None
show_config:True
show_config_diameter:False
show_config_arc:None
show_config_material:False
show_config_engine:True

[dialog_priority_selection]
show_maptool:True
show_diameter:True
show_material:True
show_exploitation:True
show_presszone:True
show_ivi_button:True
show_config:True
show_config_diameter:True
show_config_arc:True
show_config_material:True
show_config_engine:True
