[system_variables]
devoloper_mode=FALSE			;enables new tabs on project manager no update projects and more
dev_commit=FALSE				;allow user to execute all the files even if one fails
read_all_updates=FALSE			;mode dev to read all updates including after release number
project_types_dev=ws,ud,tm,pl 	;additional project type if devoloper_mode is true
project_types=ws,ud				;oficial project type
enable_python_console=FALSE		;Don't show the python console
super_users=postgres, giswater, gisadmin ;user who can see all toolbars, but not only this. User has all roles (basic.... admin)
use_notify = TRUE              ; Use postgres notify

[status]
show_help = 0
# log_level: [ERROR = 40 | WARNING = 30 | INFO = 20 | DEBUG = 10]
log_level = 20
# log_suffix: [%Y%m%d | %Y%m%d%H%M%S]
log_suffix = %Y%m%d

[toolbars]
list_toolbars = assetmanage
assetmanage = 1, 2

[buttons_def]
; assetmanage
1=AmBreakage
2=AmPriority

[buttons_tooltip]
; assetmanage
1=Roturas
2=Seleccion y calculo de prioridad
